<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.votocast.votocast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!--android:name="android.support.multidex.MultiDexApplication"-->

    <application
        android:name="com.votocast.votocast.MyAppTracker"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

         <!--******************* Google analytics service start *******************-->

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Enable Google Play Store Campaign reports -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />

        <!--  ******************* Google analytics service end ********************** -->

        <activity
            android:name=".VC_LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service
            android:name="service.VideoCropperIntentService"
            android:exported="false" />

        <activity
            android:name=".VC_ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_NoticationActivity"
            android:label="@string/title_activity_notication"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"/>

        <!-- GCM Integration -->
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_black_24dp" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service android:name="gcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCEID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="gcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".VC_ReportsActivity"
            android:label="@string/title_activity_reports"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".VC_DeepLinkActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_RulesActivity"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_SupportActivity"
            android:label="@string/title_activity_support"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_TermsOfServiceActivity"
            android:label="@string/title_activity_terms_of_service"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_ContestRulesActivity"
            android:label="@string/title_activity_contest_rules"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VC_ReportIssueActivity"
            android:label="@string/title_activity_report_issue"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff7a69241159bc554176b15bd3bde41a6d69059d" />
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="ff7a69241159bc554176b15bd3bde41a6d69059d" />-->
    </application>

</manifest>